.wolverine {
    background-image: url(./assets/fundo-wolverine.webp);
    background-position: center;
    background-size: cover;

    &__content {
        width: 80%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        position: relative;
        z-index: 0;


        &__hero,
        &__text {
            width: 45%;
        }

        &__hero {
            height: 100%;
            // left: -45px;
            // bottom: -23px;
            position: relative;

            img {
                width: 100%;
                // bottom: -23px;
                // transform: translateX(-55px);
                transform: translate(-57px, 19px);
                position: relative;
            }
        }

        &__text {
            background: rgba(0, 0, 0, 0.319);
            backdrop-filter: blur(2.5px);
            -webkit-backdrop-filter: blur(0.5px);
            border-radius: 10px;
            padding: 1em;
            transform: translateX(-43px);

            h1 {
                font-family: 'Impact';
                font-size: 5em;
                color: transparent;
                -webkit-text-stroke: 1px rgb(255, 255, 255);
                text-align: center;
                letter-spacing: 2px;
            }

            p {
                margin-bottom: 10px;
                text-shadow:
                    1px 1px 0 #0000008c,
                    -1px -1px 0 #0000008c,
                    1px -1px 0 #0000008c,
                    -1px 1px 0 #0000008c;
            }
        }

    }
}


@media screen and (width <=500px) {
    .wolverine {
        align-items: end;

        &__content {
            height: 90%;
            flex-direction: column-reverse;
            justify-content: space-between;

            &__hero,
            &__text {
                width: 100%;
            }

            &__text{
                padding: 0;
                transform: translateX(0px);
                background: rgba(0, 0, 0, 0);

                h1{
                    font-size: 4em;
                }
            }

            &__hero {
                height: auto;
                position: relative;
                transform: scale(1.5) translateY(-30px);

                img {
                    transform: translate(0px, 0px);
                }
            }


        }

    }
}


@media screen and (501px <= width <= 768px){
    .wolverine {
        align-items: end;

        &__content {
            height: 90%;
            flex-direction: column-reverse;
            justify-content: space-between;

            &__hero,
            &__text {
                width: 100%;
            }

            &__text{
                padding: 0;
                transform: translateX(0px);
                background: rgba(0, 0, 0, 0);
                position: absolute;
                top: 20px;

                h1{
                    font-size: 4em;
                }
            }

            &__hero {
                height: auto;
                position: relative;
                transform: translateY(20px);

                img {
                    transform: translate(0px, 0px);
                }
            }


        }

    }
}