.home {
    background-image: url(./assets/fundo-home.webp);
    background-position: center;
    background-size: cover;

    &__content {
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        img {
            width: 50%;
            margin-bottom: -25%;
        }
    }
}

@media screen and (width <=500px) {
    .home {
        img {
            width: 200%;
            margin-bottom: 116px;
            transform: rotate(20deg) translate(-82px, 183px);
        }
    }
}

@media screen and (501px <= width <= 900px){
    .home {
        img {
            width: 100%;
            margin-bottom: 116px;
            transform: rotate(20deg) translate(0px, 185px);
        }
    }
}

@media screen and (901px <= width <= 1024px){
    .home {
        img {
            width: 80%;
            margin-bottom: 116px;
            transform: rotate(20deg) translate(0px, 185px);
        }
    }
}