.deadpool{
    background-image: url(./assets/fundo-deadpool.png);
    background-position: center;
    background-size: cover;

    &__content{
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        img{
            width: 50%;
            margin-bottom: -25%;
        }
    }
}

