.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
        width: 30px;
        height: 30px;
        cursor: pointer;

        svg{
            width: 100%;
            height: 100%;
            color: var(--branco);
            opacity: .9;
        }
    }

    &__decoration{
        border-bottom: solid 1px red;
    }

    &__list{
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 5px;
        position: relative;

        &::after{
            content: '';
            width: 2px;
            height: 50px;
            position: absolute;
            display: block;
            background-color: var(--branco);

            bottom: -70px;
        }

        &::before{
            content: '';
            width: 2px;
            height: 50px;
            position: absolute;
            display: block;
            background-color: var(--branco);

            top: -70px;
        }
    }

    a {
        color: var(--branco);
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

.socials {
    display: flex;
    gap: 15px;

    &__item {
        svg {
            width: 20px;
            height: 30px;
            color: var(--branco);
        }
    }
}