:root {
  --fonte: Inter;
  --vermelho: #ED1B24;
  --branco: #ededed;
  --amarelo: #FFDF00;
  --preto: #000000;
  background-color: #242424;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Impact';
  src: url('/fonts/impact.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: var(--fonte);
  height: 100%;
  line-height: 1.6;
  overflow-x: clip;
  font-size: .9em;
}

h1,
h2,
h3 {
  font-family: var(--fonte-titulo);
  color: var(--branco);
}

h1{
  font-size: 2.5em;
  line-height: normal;
}
h2{
  font-size: 1.8em;
}

p {
  color: var(--branco);
  font-size: 1em;
  line-height: 1.4em;
}

a{
  text-decoration: none;
}

ol,
ul {
    list-style: none;
}

img{
  width: 100%;
  height: auto;
}
